/etc/build/*
!/etc/build/.gitignore
.idea/

###> composer ###
/auth.json
###< composer ###

###> dev ###
/.ecs_cache
###< dev ###

###> test ###
/drivers
/.php-cs-fixer.cache
###< test ###

###> docker ###
/compose.override.yaml
/docker-dev.lock
###< docker ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
/config/jwt/*-test.pem
!/config/jwt/.gitignore
###< lexik/jwt-authentication-bundle ###

###> translations ###
/translations/
###< translations ###
