parameters:
    level: max
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    
    tmpDir: var/cache/phpstan
    
    bootstrapFiles:
        - vendor/autoload.php

    symfony:
        consoleApplicationLoader: bin/console

    disallowedFunctionCalls:
        -
            function: 'dump()'
            message: 'use logger instead'
        -
            function: 'dd()'
            message: 'We should never die !'
        -
            function: 'die()'
            message: 'We should never die !'

includes:
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
